.container{

    background-image: url('https://quizizz.com/media/resource/gs/quizizz-media/quizzes/a2ce0887-4095-44a7-bd7d-5a4695afcd96');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.color{
    color: rgb(255, 255, 255);
}

   
